/* Ensure that the main content does not have padding that could offset inner elements */
main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding: 20px;
    padding-left: 0; /* Remove padding on the left if necessary */
    box-sizing: border-box; /* Include padding in width calculations */
}

li {
    max-width: none; /* Or adjust to a suitable width */
}

p, ul, li {
    vertical-align: middle
}


/* Styling for the comic section */
#comic {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
}

/* Ensure the image is not exceeding the bounds of its container */
#comicImage {
    max-width: 300%;
    height: auto; /* Maintain aspect ratio */
    margin-left: 0; /* No margin on the left */
    display: block; /* Remove any extra space below the image */
}

